footer.claro-havas-footer

	.claro-havas-footer__principal

		.claro-havas-footer__header
			img.claro-havas-footer__header__logo(src=pathImage+"claro-footer.svg" loading="lazy")
			aside.claro-havas-footer__header__socials
				a.claro-havas-footer__header__socials__link(href="#")
					img(src=pathImage+"fb.svg" loading="lazy")
				a.claro-havas-footer__header__socials__link(href="#")
					img(src=pathImage+"instagram.svg" loading="lazy")
				a.claro-havas-footer__header__socials__link(href="#")
					img(src=pathImage+"twitter.svg" loading="lazy")
				a.claro-havas-footer__header__socials__link(href="#")
					img(src=pathImage+"yt.svg" loading="lazy")
			aside.claro-havas-footer__header__legal
				p.claro-havas-footer__header__legal__item
					| Para ventas y servicios
					a.claro-havas-footer__header__legal__link(href="tel:080000200") 0800 00200
					a.claro-havas-footer__header__legal__link2(href="https://www.claro.com.pe/atencion-de-reclamos/")
						img(src=pathImage+"libro-de-reclamaciones-desktop.png" loading="lazy")
				p.claro-havas-footer__header__legal__item
					| Para información
					a.claro-havas-footer__header__legal__link(href="tel:080000123") 0800 00123
					a.claro-havas-footer__header__legal__link2(href="https://denuncias.americamovil.com/" target="_blank")
						img(src=pathImage+"boton_portal_denuncias_azul.svg" loading="lazy")

		ul.claro-havas-footer__list
			strong.claro-havas-footer__list__title.fnFooterShowItem De Utilidad
			li.claro-havas-footer__list__item
				a.claro-havas-footer__list__link(href="https://www.claro.com.pe/5g") Claro 5G
			li.claro-havas-footer__list__item
				a.claro-havas-footer__list__link(href="https://www.claro.com.pe/personas/movil/dias-claro-fans/") Días Claro Fans
			li.claro-havas-footer__list__item
				a.claro-havas-footer__list__link(href="https://www.claro.com.pe/consulta-de-numero/") Consulta de líneas
			li.claro-havas-footer__list__item
				a.claro-havas-footer__list__link(href="https://www.claro.com.pe/mide-tu-velocidad/") Mide tu velocidad
			li.claro-havas-footer__list__item
				a.claro-havas-footer__list__link(href="https://www.claro.com.pe/desbloquea-tu-celular/") Liberación de tu equipo móvil
			li.claro-havas-footer__list__item
				a.claro-havas-footer__list__link(href="https://www.claro.com.pe/comprobantes-electronicos/") Comprobantes electrónicos
			li.claro-havas-footer__list__item
				a.claro-havas-footer__list__link(href="https://static.claro.com.pe/img/otros/Llamada-por-llamada.pdf") Llamada por llamada

		ul.claro-havas-footer__list
			strong.claro-havas-footer__list__title.fnFooterShowItem Nos Hacemos Cargo
			li.claro-havas-footer__list__item
				a.claro-havas-footer__list__link(href="https://www.claro.com.pe/legal-y-regulatorio/devoluciones-por-interrupciones/") Devoluciones por interrupciones
			li.claro-havas-footer__list__item
				a.claro-havas-footer__list__link(href="https://www.claro.com.pe/atencion-de-reclamos/") Atención de reclamos
			li.claro-havas-footer__list__item
				a.claro-havas-footer__list__link(href="https://www.claro.com.pe/atencion-de-reclamos/consulta-el-estado-de-tu-reclamo/") Consulta de reclamos
			li.claro-havas-footer__list__item
				a.claro-havas-footer__list__link(href="https://static.claro.com.pe/img/otros/Comunicado-Adquirientes-iPhone-6-6S-y-SE.pdf") Adquirientes iPhone 6, 6S y SE
			li.claro-havas-footer__list__item
				a.claro-havas-footer__list__link(href="https://www.claro.com.pe/no-al-phishing") Mensaje de Seguridad

		ul.claro-havas-footer__list
			strong.claro-havas-footer__list__title.fnFooterShowItem Institucional
			li.claro-havas-footer__list__item
				a.claro-havas-footer__list__link(href="https://www.claro.com.pe/institucional/sobre-nosotros/") Sobre nosotros
			li.claro-havas-footer__list__item
				a.claro-havas-footer__list__link(href="https://www.claro.com.pe/institucional/sostenibilidad/") Sostenibilidad
			li.claro-havas-footer__list__item
				a.claro-havas-footer__list__link(href="https://www.claro.com.pe/institucional/centro-de-prensa/") Centro de prensa
			li.claro-havas-footer__list__item
				a.claro-havas-footer__list__link(href="https://trabajaenclaro.claro.com.pe/") Trabaja en Claro
			li.claro-havas-footer__list__item
				a.claro-havas-footer__list__link(href="https://www.claro.com.pe/proveedores/") Proveedores
			li.claro-havas-footer__list__item
				a.claro-havas-footer__list__link(href="https://www.claro.com.pe/trabajos-de-mantenimiento/") Trabajos de mantenimiento
			li.claro-havas-footer__list__item
				a.claro-havas-footer__list__link(href="https://denuncias.americamovil.com/paginainicio.aspx") Portal de denuncias

		aside.claro-havas-footer__list-mobile
			strong.claro-havas-footer__list__title Redes Sociales
			div.claro-havas-footer__header__socials
				a.claro-havas-footer__header__socials__link(href="#")
					img(src=pathImage+"fb.svg" loading="lazy")
				a.claro-havas-footer__header__socials__link(href="#")
					img(src=pathImage+"instagram.svg" loading="lazy")
				a.claro-havas-footer__header__socials__link(href="#")
					img(src=pathImage+"twitter.svg" loading="lazy")
				a.claro-havas-footer__header__socials__link(href="#")
					img(src=pathImage+"yt.svg" loading="lazy")

	aside.claro-havas-footer__bottom

		.claro-havas-footer__bottom__inset
			strong.claro-havas-footer__bottom__copyright Todos los derechos reservados 2022
			ul.claro-havas-footer__bottom__list
				li.claro-havas-footer__bottom__list__item
					a.claro-havas-footer__bottom__list__link(href="https://static.claro.com.pe/img/otros/Aviso_Legal_de_uso_del_sitio_web_08.pdf") Términos y condiciones de la web
				li.claro-havas-footer__bottom__list__item
					a.claro-havas-footer__bottom__list__link(href="https://www.claro.com.pe/garantia_equipos/") Condiciones de garantía de equipos
				li.claro-havas-footer__bottom__list__item
					a.claro-havas-footer__bottom__list__link(href="https://www.claro.com.pe/proteccion-datos/") Política de Privacidad
				li.claro-havas-footer__bottom__list__item
					a.claro-havas-footer__bottom__list__link(href="https://www.claro.com.pe/legal-y-regulatorio/derechos-arco/") Derechos ARCO
				li.claro-havas-footer__bottom__list__item
					a.claro-havas-footer__bottom__list__link(href="https://serviciosweb.osiptel.gob.pe/ConsultaSIRT/Buscar/frmConsultaTar.aspx") Sistema de consultas Tarifarias
				li.claro-havas-footer__bottom__list__item
					a.claro-havas-footer__bottom__list__link(href="https://static.claro.com.pe/img/otros/Medidas_Relativas_a_Neutralidad_implementadas-Julio_22.pdf") Neutralidad de Red
				li.claro-havas-footer__bottom__list__item
					a.claro-havas-footer__bottom__list__link(href="https://serviciosweb.osiptel.gob.pe/Devoluciones/") Sistema de Consulta de Deudas
				li.claro-havas-footer__bottom__list__item
					a.claro-havas-footer__bottom__list__link(href="https://www.claro.com.pe/legal-y-regulatorio/") Legal y Regulatorio